
/***************************Main*****************************************/
body{
    min-width: 400px;
}
.slider
{
	background-color:#202227;
}
.short-info
{
	background:#16171a;
}
.tabs-images{
	background:linear-gradient(to right, #2b3139, #475160 30%, #2b313a 100%); 	
}
.about {
	background-color: #16171a;
}
.prev-block{
	background-color: #26282e;
}

.footer {
    /*background:radial-gradient(at 50% 0% , #27272c, #18191c); */
    background:linear-gradient(to right, #18191c, #18191c 50%, #222427 60%, #18191c 70%,#18191c 100%);
}
.mail-panel{
    background:linear-gradient(to bottom, #141517, #16171a 50%, #18191c 100%);
}

/***************************header**************************************/
header .navbar{
	background:linear-gradient(to right, #16171a, #2d2f34 30%, #16171a 100%); 
	min-height:100px;
	border:none;
	margin:0;
	border-radius:0;
}
header .navbar .container{
	padding: 19px 10px;
}
header .nav.navbar-nav  li{
	padding:5px 10px;
}
header .nav.navbar-nav ul.dropdown-menu {
	background-color:#313338;
	border-radius:5px;
}
header ul.dropdown-menu  a{
	color:#fff;
}
header .dropdown-menu li:nth-child(odd){
	background-color:#4f5155;
}
header .nav.navbar-nav .dropdown-menu > li {
	padding:0;
}
header .nav.navbar-nav .dropdown-menu > li>a {
	padding:8px 35px;
}
header .navbar-right .dropdown-menu{
	right: -35px;
	top: 110%;
}
header .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
	font-weight:bold;
}
header .dropdown-menu > li#arrow-sub {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 69px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -16px;
}
/****************************slider***************************/
.slider #myCarousel {
	padding:10px 0;
}
.slider #myCarousel .slider-wrap{
    margin: 10px auto;
	padding:0;
}

.slider #myCarousel .carousel-inner{
    border-radius:20px;
}
 
.slider #myCarousel .carousel-inner > .item{
	max-height:500px;
}
 
.slider .carousel-control.left,
.slider .carousel-control.right{
	background:none;
 }
 
 /*************************short-info***********************/
 
 .short-info>.container{
	padding:20px 0;
 }

 .short-info .navbar.navbar-default{
 	overflow: hidden;
 }
  .short-info .navbar{	
	background:linear-gradient(to bottom, #ced2d8, #c9cdd4 50%, #bbc0c8 100%);
	border: none;
 } 
 .short-info .navbar>.container{
	padding:0;
 }
 
 .short-info .nav li {
	text-align:center;
 }
 
 .short-info .nav li > a{
	text-transform:uppercase;
	font-size: 16px;
    font-weight: bold;
	padding:10px 25px;
	color:#fff;
 }
 .short-info .nav li.active a,
 .short-info .nav li.active{
	background:linear-gradient(to bottom, #33363e, #2a2c33 50%, #222429 100%);
	color:#fff;
 }
 .short-info .nav  .sub-text{
	font-style:italic;
	text-transform:none;
	font-size: 12px;
	color:#6f7380;
 }
 
 .short-info  .tab-content>.tab-pane {
	color:#7c8994;
 }
 
 .short-info  .tab-content>.tab-pane img {
	/* width:100%; */
 }
 .short-info  .buttons-full-info{
	margin-top:20px;
 }
 .short-info  .buttons-full-info .btn {
	padding: 5px 10px 5px 20px;
 }
  .short-info  .buttons-full-info a{
	display:inline-block;
  }
  .short-info  .buttons-full-info .col-md-6 a:nth-child(n+2) {
    margin-left: 20px;
}
.short-info  .buttons-full-info a>.btn-info{
	border:none;
	border-top:1px solid #59bdd0;
}
.short-info  .buttons-full-info a>.btn-primary{
	border:none;
	border-top:1px solid #5a8ec5;
}
 .short-info  .buttons-full-info span{
    background-position: 100% 50%;
    background-repeat: no-repeat;
	padding-right: 30px;
	display:inline-block;
}
.short-info  .buttons-full-info .btn-default{
	background-color:#5e697b;
	background-image: linear-gradient(to bottom, #5e697b 0px, #48505e 100%);
	color:#fff;
	border:none;
	border-top:1px solid #8290a8;
	/* border-color: #8290a8; */
}
.short-info  .buttons-full-info .btn-default:hover,
.short-info  .buttons-full-info .btn-default:focus{
	background-color:#48505e;
}

.short-info  .buttons-full-info .more{
    background-image: url("../images/button-read-more.png");
}
.short-info  .buttons-full-info .follow{
    background-image: url("../images/button-twitter.png");
}
.short-info  .buttons-full-info .get{
    background-image: url("../images/button-get.png");
} 
.short-info  .buttons-full-info .facebook{
    background-image: url("../images/button-facebook.png");
} 
 
/**********************************tabs-images*************************/
.tabs-images{
	color:#fff;
    padding-bottom: 20px;
}
.tabs-images .info-window{
	border-radius:10px;
	margin: 30px auto;
    min-height: 130px;
    min-width: 230px;
    width: 100%;
	box-shadow: 0 13px 20px -10px #000;
	padding: 10px 15px;
	font-weight:bold;
	
}
.tabs-images .info-window .text-uppercase{
	margin-bottom: 20px;
}
.tabs-images .info-window .block-icon{
	padding-left: 60px;
	font-weight: normal;
	margin: auto;
    width: 205px;
}
.tabs-images .info-window .block-icon>div{
	border-top: 1px solid rgba(128, 148, 164, 0.5);
    font-size: 30px;
    margin-top: 5px;
}
.tabs-images .left-col>.info-window{
	background:radial-gradient(at top center, #7b8ea2, #566472);
}
.tabs-images .left-col>.info-window>.block-icon{
	background: url("../images/icon-video.png") no-repeat scroll 0 5px;	
}
.tabs-images .mid-col>.info-window>.block-icon{
	background: url("../images/icon-apps.png") no-repeat scroll 0 5px;	
}
.tabs-images .right-col>.info-window>.block-icon{
	background: url("../images/icon-jobs.png") no-repeat scroll 0 5px;	
}


.tabs-images .mid-col>.info-window{
	background:radial-gradient(at top center, #3bc8e1, #2898c6);
}
.tabs-images .right-col>.info-window{
	background:radial-gradient(at top center, #dae8eb, #bdd4db);
}
.tabs-images  #video-link,
.tabs-images  #phone-link,
.tabs-images  #jobs-link{
	color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
    text-decoration: none;
	min-height:28px;
	min-width:230px;
    width: 100%
}
.tabs-images  #video-link{
	background:url(../images/text-video.png) no-repeat 100% 0;
}
.tabs-images  #phone-link{
	background:url(../images/text-apps.png) no-repeat 100% 0;
}
.tabs-images  #jobs-link{
	background:url(../images/text-jobs.png) no-repeat 100% 0;
}
.tabs-images .btn .btn:hover{
	 background-color: #48505e;
}
.tabs-images .btn .btn{
	background-color:#5e697b;
	background-image: linear-gradient(to bottom, #5e697b 0px, #48505e 100%);
	color:#fff;
	border:none;
	border-top:1px solid #8290a8;
	padding: 6px 15px 6px 20px;
}
.tabs-images .btn span{
	padding: 0 35px 0 0px;
}
.tabs-images .btn .gototour{
	background: url("../images/button-gototour.png") no-repeat 100% 0;
}
.tabs-images .btn .appstore{
	background: url("../images/button-appstore.png") no-repeat 100% 0;
}
.tabs-images .btn .getajob{
	background: url("../images/button-getajob.png") no-repeat 100% 0;
}

/***********************mail-panel***********************************/

.mail-panel .panel{
    margin: 30px 0;
    background: linear-gradient(to top, #33363a, #41454a 50%, #464a50 100%);
    border:none;
    border-top: 1px solid #5e636b;
    color: #fff;
}
.mail-panel .mail-icon{
    border-radius: 3px;
}
.mail-panel .content-panel{
    border-radius: 0 3px 3px 0;
}
.mail-panel .mail-icon{
    background: url("../images/icon-mail.png") no-repeat 18px 50%, linear-gradient(to bottom, #88909c, #6c727a) repeat ;
    padding-left: 65px;
}
.mail-panel .content-panel{
    background: linear-gradient(to top, #33363a, #41454a 50%, #464a50 100%);
    width:100%;
    padding:15px 0;
}
.mail-panel .panel-body p{
    font-weight: bold;
    margin:0;
    line-height: 34px;
}
.mail-panel .panel-body p > span{
    margin-left: 10px;
}
.mail-panel .panel-body p > span:first-child{
    text-transform: uppercase;
}
.mail-panel .form-group{
    width:70%;
}
.mail-panel .form-control{
    background-image: linear-gradient(to bottom, #1c1e21, #26292d);
    border:none;
    width:100%;
}
.mail-panel .form-inline > .btn-danger{
    margin-left: 10px;
}
.mail-panel .btn-danger,
.mail-panel .form-group{
    float: right;
}
.mail-panel .panel-body{
    padding: 0;
}
.mail-panel .content-panel .col-md-7{
    padding-right: 0;
}

/******************************Footer*********************/
.footer .col-md-1{
    width: 12.3333%;
}
.footer ul{
    list-style: none;
    margin:0;
    padding:0;
}
.footer ul a{
    color:#9ea3b0;
    font-size:12px;
}
.footer .title-menu{
    color:#fff;
}
.footer .col-md-1:nth-child(1) {
    padding-right:25px;
}
.footer .col-md-1:nth-child(n+2) {
    padding: 0 25px;
    border-left:1px solid #2e2e33;
}
.footer .row {
    padding:25px 0 30px;
}
.footer .title-menu {
    display: inline-block;
    padding-bottom: 15px;
}
.footer .col-md-6 img{
    float:left;
    padding-top:30px;
}
.footer .title-copyright,
.footer .copyright,
.footer .bottom-links a{
    color:#fff;
}
.footer .copy-text{
    padding: 0;
    text-align: justify;
}
/******************************Resolutions options******************/
@media (min-width: 992px) and (max-width: 1200px){ 


	.nav.navbar-nav  li{
		padding:5px 0;
	}


}


@media (min-width: 768px) and (max-width: 991px){ 

	.navbar-header{
		display: block;
	    float: none;
	    text-align: center;
	}

	#logo{
		float:none;
	}
	.tabs-images  #video-link,
	.tabs-images  #phone-link,
	.tabs-images  #jobs-link{
		font-size:16px;
	}
    .mail-panel .form-group {
        width: 85%;
    }
    .mail-panel .panel-body p{
        display: block;
        text-align:center;

    }
	
}

@media (max-width: 768px){
    .mail-panel .form-group {
        /*width: 85%;*/
    }

    .mail-panel .panel-body p > span:first-child{
        display: block;
        text-align:center;

    }
}